/* Mainpage */
html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: sans-serif;
    background-color: #f2f2f2;
    background-attachment: fixed;
    font-size: 14px;
    margin-bottom: 50px;
    min-width: 1195px;
}

header {
    background: #ffffff; /*#d2edf4;*/
    /*background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
    position: relative;
}

.main-container {
    padding: 0 0 30px;
}

.equal {
  display: flex;
  flex-wrap: wrap;
}

/* Header */
.navbar-default {
  background-color: #fff;
}
#header-nav{
    padding:13px 0;
    font-size: 1.1em;
    margin-bottom: 0px;
}
#navbar-left {
 min-width:1165px;
}
.header-logo{
    position:relative;
    top: -25px;
    left: -10px;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding: 3px 30px;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  min-width: 1195px;
}
.footer-nav {
    margin-right: 30px;
    margin-bottom: 0px;
}
.footer-brand{
    position: relative;
    float: left;
    top: 10px;
}
.footer-logo {
    position: relative;
    width: 130px;
    height: 30px;
}

/* Homepage */
.homepage-box {
    background-color: #FFF;
    border-radius: 8px;
    color: #0f2a54;
    font-size: 13px;
}
.homepage-box > h2 {
    text-align: center;
    color: #0f2a54;
}
.visual {
    text-align: center;
    color: #0f2a54;
    background-color:white; /*#004d99;*/
}

.livefeed > h2, .livefeed2 > h2 {
    text-align: center;
    color: #0f2a54;
}


.container1 {
    text-align: center;
    max-width: 1800px;
    height: 100%;
    background-image: url("/images/graduation.jpg");
    background-repeat: no-repeat;
    margin: auto;
    min-height: 500px;
}

.container2 {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 15px;

}

.container3 {
    text-align: center;
    align: center;
    width: 100%;
    background: white;
    padding-top: 0.1px;
}

/* LIVEFEED STYLES */
.livefeedhref {
    color: #00396d;
    font-size: 1.3em;
}

.livefeedtable {
  align: middle;
  border:solid lightblue 1px;
  font-family: "Tahoma", Geneva, sans-serif;
}

tr {
  border-bottom: 1px solid lightblue;
  border-top: 1px solid lightblue;
}

td, th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.scrollit {
    overflow:scroll;
    min-height:200px;
    max-height:500px;
    align: middle;
}

.livefeedrow {
  text-align: center;
}

#DtSRow {
  background-color: #e8f2fd;
}

#DtGRow {
  background-color: #e8f2fd;
}

#StURow {
  background-color: #ecffee;
}

#StGRow {
  background-color: #fff1e2;
}

#StCRow, #CtORow {
  background-color: #ecffee;
}

#GtSRow {
  background-color: #ecffee;
}

/* LIVEFEED STYLES END */
h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #3587A4;
    /*margin: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 8em;*/
}
p {
    text-align: center;
    margin: 10px auto;
    font-size: 1.2em;
    color: #0f2a54;
    width: 85%;
}
h2 {
  text-align: center;
  margin: 40px auto;
  font-size: 1.5em;
  color: #004d99;
}

h2.blueheading {
    text-align: center;
    font-size: 2em;
    color: #004d99;
    font-weight: bold;
}

h1.whiteheading {
    text-align: center;
    font-size: 3em;
    color: #fff;
    font-weight: bold;
    /*margin: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 8em;*/
}

h1.blueheading {
    text-align: center;
    font-size: 3em;
    color: #0f2a54;
    font-weight: bold;
}


/* Students Overview */
#students-container {
  padding: 0px 0px 15px;
}
#students-container > h1 {
    text-align: center;
    color: #333;
}

/*Error form */
.uiErrorMessage{
  color: #FF0000;
  text-align: center;
}

/* Student Registration Form */
.studentRegForm {
    padding: 10px 10px;
}
.studentRegForm > input {
    display: block;
    text-align: center;
    width: 250px;
    margin: 15px auto;
}

.boxForm{
  text-align: center;
  right: 15px;
}
.pledgeForm{
  text-align: center;
  font-style: italic;
}

/* Donor Registration Form */
.donorregform {
    padding: 10px 30px;
}
.donorregform > input {
    display: block;
    text-align: center;
    width: 250px;
    margin: 15px auto;
}

#studentRegSubmit {
    width: 120px;
}

/* Student View */
.student-view {
    position: relative;
    width: 30%;
    margin: 10px 1.5%;
    float: left;
    padding: 10px 1% 35px;
    height: auto;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 6px;
    box-shadow: 0px 2px 4px #ccc;

}
.overview-top {
  position:relative;
  float: left;
  margin-bottom: 10px;
}
.student-view .overview-image {
    width:100px;
    height:100px;
    float: left;
    margin: 0 8px 0 0;
}
.overview-name {
    font-size: 24px;
    color: #004d99;
}

/* visited link */
.overview-name:visited {
    color: #004d99;
    text-decoration: none;
}

/* mouse over link */
.overview-name:hover {
    color: #0066cc;
    text-decoration: none;
}

/* selected link */
.overview-name:active {
  text-decoration: none;
}

.overview-glyph {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 18px;
  color: #003366
}

.overview-story {
  position: relative;
  float: left;
}

.overview-progress {
  position: absolute;
  bottom: 8px;
  height: 20px;
  width: 94%;
}

.overview-progress .progress{
  width: 100%;
}

/* Uni Portal */
.uni-student-view {
    position: relative;
    width: 30%;
    margin: 10px 1.5%;
    float: left;
    padding: 10px 1% 15px;
    height: auto;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 6px;
    box-shadow: 0px 2px 4px #ccc;

}
.uni-student-top {
  position:relative;
  float: left;
  margin-bottom: 10px;
}
.uni-student-view .uni-student-image {
    width:100px;
    height:100px;
    float: left;
    margin: 0 8px 0 0;
}
.uni-student-name {
    font-size: 24px;
    color: #004d99;
}

/* visited link */
.uni-student-name:visited {
    color: #004d99;
    text-decoration: none;
}

/* mouse over link */
.uni-student-name:hover {
    color: #0066cc;
    text-decoration: none;
}

/* selected link */
.uni-student-name:active {
  text-decoration: none;
}

.uni-student-bottom{
  float:left;
}

/* Profile Page */
.profile-container {
    color: #333;
    padding-bottom: 50px;
}
.profile-left-container {
  position: relative;
  float: left;
  width:60%;
  padding: 25px 3% 10px 12%;
}
.profile-right-container {
  position: relative;
  float: left;
  width:40%;
  padding: 25px 7% 10px 3%;
}
.profile-right-section .progress{
  margin: 5px 0;
}
.profile-info{
  width: 100%;
}
.profile-student-info{
  height: 150px;
}
.profile-info .profile-image {
    width:150px;
    height:150px;
    float: left;
    margin: 0 40px 0 0;
    border-radius: 6px;
    box-shadow: -2px 2px 6px #999;
    border: 5px solid #fff;
}
.profile-name {
    font-size: 24px;
    color: #004d99;
}
.profile-name:visited {
    color: #004d99;
    text-decoration: none;
}
.profile-name:hover {
    color: #0066cc;
    text-decoration: none;
}
.profile-name:active {
  text-decoration: none;
}
.profile-info-bottom {
    float: left;
    padding: 10px 0 0;
}
.profile-update-button{
  float:left;
}

/* DONATIONS */
.profile-right-section{
  margin-bottom: 10px;
}
.profile-right-header {
  margin-bottom: 5px;
}
.profile-right-header h2{
  font-size: 24px;
  margin: 0px;
  text-align: left;
}
.profile-right-text{
  font-size:10px;
  color:#555;
  width:60%;
  display: inline-block;
}
.profile-right-button{
  margin: 5px 0px;
}
.profile-donation-input{
  margin: 5px 0px;
  width: 50%;
  min-width: 180px;
}
.profile-pubKey{
  font-size:14px;
  color:#555;
}
.profile-pubKey{
  font-size:14px;
  color:#555;
}
.profile-interested-donors{
  font-size:14px;
}

.profile-right-graduate{
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #999;
  text-align: center
}

.profile-right-graduate-header h2{
  font-size: 16px;
  margin: 0px;
}

.profile-right-graduate-text{
  size: 13px;
  color: #555;
}

.small-grad-text{
  font-size:12px;
}

button{
    color: #111;
}
.donation-input {
    color: #444;
}

.donorProfileImage {
    position: relative;
    display: block;
    width:100px;
    height:100px;
}

.donorImage {
    position: relative;
    display: block;
    width:100px;
    height:100px;
}

/* Dynamic Vizualisation */
.homepage-background{
background-color: #e8f2fd;
}

.dynamic-visualization{
  position:relative;
  width:800px;
  margin: 0 auto;
  background-color: #e8f2fd;
}
.money-donors{
  position:absolute;
  bottom:-70px;
  right:20px;
  font-size:30px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: #004d99;
  font-weight: bold;
}
.money-overhead{
  position:absolute;
  bottom:0px;
  left:-60px;
  font-size:24px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: #004d99;
  font-weight: bold;
}
.money-students{
  position:absolute;
  top:-15px;
  left:-65px;
  font-size:30px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: #004d99;
  font-weight: bold;
}
.money-circle{
  position:absolute;
  bottom:60px;
  left:250px;
  font-size:30px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: #004d99;
  font-weight: bold;
}

/* Contact page */
.mail {
  font-size:15px;
  font-weight: bold;
  font-family: "arial, times, serif"
}

/* Donate Now page*/
button {
  background-color: #337ab7;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
}

.donatenow-div{
  text-align: center;
}

input[type=number]{
  padding: 10px 20px;
}

.donatenow-input{
  margin: 30px;
}

.demobuttons {
  text-align: center;
}

.demobuttons input{
  padding: 10px;
  margin-bottom: 3px;
}