/* Mainpage */
html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: sans-serif;
    background-color: #f2f2f2;
    background-attachment: fixed;
    font-size: 14px;
    margin-bottom: 50px;
    min-width: 1080px;
}

header {
    background: #ffffff; /*#d2edf4;*/
    /*background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
    position: relative;
}
.main-container {
    padding: 0 0 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding: 3px 30px;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  min-width: 1080px;
}

/* Header */
.navbar-default {
  background-color: #fff;
}
#header-nav{
    padding:13px 0;
    font-size: 1.1em;
    margin-bottom: 0px;
}
#navbar-left {
 min-width:1050px;
}
.header-logo{
    position:relative;
    top: -25px;
    left: -10px;
}

/* Footer */
.footer-nav {
    margin-right: 30px;
}
.footer-brand{
    position: relative;
    float: left;
    height: 50px;
}
.footer-logo {
    position: relative;
    width: 218px;
    height: 50px;
}

/* Homepage */
.homepage-box {
    background-color: #FFF;
    border-radius: 8px;
    color: #0f2a54;
    font-size: 13px;
}
.homepage-box > h2 {
    text-align: center;
    color: #0f2a54;
}

.visual {
    text-align: center;
    color: #0f2a54;
    background-color:white; /*#004d99;*/
}

.livefeed > h2, .livefeed2 > h2 {
    text-align: center;
    color: #0f2a54;
}
.equal {
  display: flex;
  flex-wrap: wrap;
}

.container1 {
    text-align: center;
    max-width: 1800px;
    height: 100%;
    background-image: url("/images/graduation.jpg");
    background-repeat: no-repeat;
    margin: auto;
    min-height: 500px;
    /*padding: 15px;*/
}

.container2 {

    text-align: center;
    width: 100%;
    margin: 0px;
    /*margin: 0 auto;
    /*min-height: 100%;*/
    padding: 15px;

}

.container3 {
    text-align: center;
    width: 100%;
    background: white;
    padding: 15px;
}


.livefeedhref {
    color: #000;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #3587A4;
    /*margin: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 8em;*/
}


p {
    text-align: center;
    margin: 10px auto;
    font-size: 1.2em;
    color: #0f2a54;
    width: 85%;
}

h2 {
  text-align: center;
  margin: 40px auto;
  font-size: 1.5em;
  color: #004d99;
}

/*
div {
   text-align: center;
   margin: 10px auto;
}
*/

h2.blueheading {
    text-align: center;
    font-size: 2em;
    color: #004ddd;
    font-weight: bold;
}

h1.whiteheading {
    text-align: center;
    font-size: 3em;
    color: #fff;
    font-weight: bold;
    /*margin: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 8em;*/
}

h1.blueheading {
    text-align: center;
    font-size: 3em;
    color: #0f2a54;
    font-weight: bold;
    /*margin: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 8em;*/
}


/* Students Overview */
#students-container > h1 {
    text-align: center;
    color: #333;
}

/*Error form */
.uiErrorMessage{
  color: #FF0000;
  text-align: center;
}

/* Student Registration Form */
.studentRegForm {
    padding: 10px 10px;
}
.studentRegForm > input {
    display: block;
    text-align: center;
    width: 250px;
    margin: 15px auto;
}

.boxForm{
  text-align: center;
  right: 15px;
}
.pledgeForm{
  text-align: center;
  font-style: italic;
}

/* Donor Registration Form */
.donorregform {
    padding: 10px 30px;
}
.donorregform > input {
    display: block;
    text-align: center;
    width: 250px;
    margin: 15px auto;
}

#studentRegSubmit {
    width: 120px;
}

/* Student View */
.student-view {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    height: auto;
    background: #eee;
    border: 1px solid #bbb;
    border-radius: 6px;
    box-shadow: 0px 2px 4px #ccc;

}
.student-view .student-image {
    width:55px;
    height:60px;
    float: left;
    margin: 5px 50px 5px 15px;
}
.student-view .student-link{
    float: left;
}
.student-view .student-info{
    float: left;
    padding: 4px;
}

/* Profile Page */
#profile-container {
    color: #333;
    padding-bottom: 50px;
}
button{
    color: #111;
}
.donation-input {
    color: #444;
}

.donorProfileImage {
    position: relative;
    display: block;
    width:100px;
    height:100px;
}

.donorImage {
    position: relative;
    display: block;
    width:100px;
    height:100px;
}

/* CSS FOR DYNAMIC VISUALIZATION */
.dynamic-visualization{
  position:relative;
  width:800px;
  margin: 0 auto;
}
.money-donors{
  position:absolute;
  bottom:-70px;
  right:20px;
  font-size:30px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: #004d99;
  font-weight: bold;
}
.money-overhead{
  position:absolute;
  bottom:100px;
  left:-100px;
  font-size:24px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: #004d99;
  font-weight: bold;
}
.money-students{
  position:absolute;
  top:80px;
  left:-150px;
  font-size:30px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: #004d99;
  font-weight: bold;
}
.money-circle{
  position:absolute;
  top:200px;
  right:-250px;
  font-size:30px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: #004d99;
  font-weight: bold;
}

/* Contact page */

.mail {
  font-size:15px;
  font-weight: bold;
  font-family: "arial, times, serif"
}

/* Donate Now page*/
button {
    background-color: #3587A4; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}

input[type=number]{
  padding: 10px 20px;
  margin: 30px;
}
