<template name = "studentProfileDonationInfo">
  <div class="profile-right-section">
    <br>
    <div class="profile-right-header">
      <h2>Donors to {{name.first}} {{name.last}}</h2>
    </div>
    <div>
      Tuition Required: {{uni_info.tuition}} GBD
      <br>
      {{#if allowance}}
        Allowance Requested: {{uni_info.allowance}} GBD
      {{/if}}
      <br>
      Total Amount Raised: {{totalDonation}} Ether
      <br>
      <div class = "progress" style="width:80%">
        <div class ="progress-bar" role="progressbar" aria-valuenow={{progressPerc}} aria-valuemin="0" aria-valuemax="100" style="width:{{progressPerc}}%">
          {{progressPerc}} %
        </div>
      </div>

      {{#each donor}}
        <a href="/profilepage/{{id}}">
          {{name}}
        </a> 
        donated {{amount}} Ether
        <br>
      {{/each}}
    </div>
  </div>
</template>

<template name = "donorProfileDonationInfo">
  <div class="profile-right-section">
    <br>
    <div class="profile-right-header">
      <h2>Students Donated To</h2>
    </div>
    <div>
      Amount donated: {{totalDonation}} Ether
    <br>
    {{#each student}}
      <a href="/profilepage/{{id}}">
        {{name}}
      </a>
      : {{amount}}
    {{/each}}
    </div>
  </div>
</template>


<template name = "directDonationButton">
  <input class="donation-input" type="number" name="amount" min ="0.001" placeholder="Donation Amount" value="0.1">
  <button class = "createTrans">Donate To {{first}} {{last}}</button>
</template>
