<template name = "studentProfileDonationInfo">
    <h3> Donors who have donated </h3>
    <div>
      Total Amount Raised: {{totalDonation}} Ether
      <br>


      <div class = "progress" style="width:80%">
        <div class ="progress-bar" role="progressbar" aria-valuenow={{progressPerc}} aria-valuemin="0" aria-valuemax="100" style="width:{{progressPerc}}%">
           {{progressPerc}} %
        </div>
      </div>


      {{#each donor}}
      {{name}} donated {{amount}} Ether
      <a class="livefeedhref" href="/profilepage/{{id}}">
        see their profile page
      </a>
      <br>
      {{/each}}
    </div>
</template>

<template name = "donorProfileDonationInfo">
  <h3> Students donated to </h3>
  <div>
    Total amount donated: {{totalDonation}} Ether
    <br>
    {{#each student}}
    donated {{amount}} Ether to {{name}}
    {{#unless generalPot id}}
    <a class="livefeedhref" href="/profilepage/{{id}}">
    see their profile page
    </a>
    {{/unless}}
    <br>
    {{/each}}
  </div>
</template>

<template name = "directDonationButton">
  <input class="donation-input" type="number" name="amount" min =0.001 placeholder="Donation Amount" value=0.1 >
  <button class = "createTrans">Donate To {{first}} {{last}}</button>
</template>
