<template name = "publicProfileInfo">
    <h3> This is your profile information </h3>
    Name: {{name.first}} {{name.middle}} {{name.last}}
    <br>
    Address: {{address.street}}, {{address.city}}, {{address.country}}
    <br>
    Age: {{age}}
    <br>
    Bio: {{bio}}
    <br>
</template>

<template name = "opportunityInfo">
  University: {{uniProfile.name}}
  <br>
  Program: {{uni_info.program}}
  <br>
  Status: {{uni_info.eStatus}}
  <br>
  Tuition Required: {{uni_info.tuition}}GBD
  <br>
  {{#if allowance}}
  Allowance Requested: {{uni_info.allowance}}GBD
  {{else}}
  No allowance requested
  {{/if}}
  <br>
</template>

<template name = "summaryOppInfo">
  <h3>Was granted an opportunity at</h3>
  <br>
  University: {{uniProfile.name}}
  <br>
  Program: {{uni_info.program}}
  <br>
  Was donated an ether equivalent to:
  <br>
  {{uni_info.tuition}}GBD for tuition
  <br>
  {{#if allowance}}
  and {{uni_info.allowance}}GBD for 10months for allowance
  {{/if}}
</template>

<template name = "ethereumPaymentInfo">
  Ethereum public key: <a href="https://ropsten.etherscan.io/address/{{ethereum}}" class="livefeedhref">{{ethereum}}</a>
  <br>
  Ethereum balance: {{balance}}
  <br>
</template>

<template name = "privateProfileInfo">
  Phone: {{phone}}
  <br>

  {{#each emails}}
  <div>Email: {{address}}</div>
  {{/each}}
</template>

<template name = "updateProfileButton">
  <a class ="livefeedhref" href="/updateForm">Update My Profile</a>
  <br>
</template>

<template name = "UniversityInformation">
  University: {{name}}
  <br>
  Programs involved with COO: Msc of Computing Science
  <br>
  Address: {{address}}
  <br>
</template>
