<template name = "registerInterestButton">

  {{#if hasRegisteredInterest}}
  You have already registered interest in this student
  <br>
  <br>
  {{else}}

  <button class = "updateinterest"> Register Interest </button>
  <br>
  {{/if}}
</template>

<template name = "studentProfileRegisterInterest">
    <h3> Donors who have registered interest</h3>
    <div class = "container">
      Number of donors interested: {{number_dInterest}}
      <br>
      Interested Donors:
      <br>
      {{#each interestedDonors}}
      {{#with donorInfo @index}}
      <a class="livefeedhref" href="/profilepage/{{_id}}">
        Name: {{name.first}} {{name.last}}
      </a>
      <br>
      {{/with}}
      {{/each}}
    </div>
</template>

<template name = "donorProfileRegisterInterest">
  <h3> Students interested in </h3>
  <div class = "container">
    <br>
    Registered interest in:
    <br>
    {{#each interestStudent}}
    {{#with studentInfo @index}}
    <a class="livefeedhref" href="/profilepage/{{_id}}">
      Name: {{name.first}} {{name.last}}
    </a>
    <br>
    {{/with}}
    {{/each}}
  </div>
</template>
