<template name = "registerInterestButton">
  <div class="profile-right-section">
    <div class="profile-right-header">
      <h2>Register Interest</h2>
    </div>
    {{#if hasRegisteredInterest}}
      <span class="profile-right-text-sorry">
        Looks like you have already registered interest in this student.
      </span>
    {{else}}
      <button class="updateinterest profile-right-button"> Register Interest </button>
      <br>
      <span class="profile-right-text">
        By registering interest, you will be notified immediately when a decision is made regarding this student's application.
      </span>
    {{/if}}
  </div>
</template>

<template name = "studentProfileRegisterInterest">
  {{#if hasRegisteredInterest}}
    <div class="profile-right-section">
      <div class="profile-right-header">
        <h2>Interested Donors ({{number_dInterest}})</h2>
      </div>
      <span class="profile-interested-donors">
        {{#each interestedDonors}}
          {{#with donorInfo @index}}
            <a href="/profilepage/{{_id}}">
              {{name.first}} {{name.last}}
            </a>
            <br>
          {{/with}}
        {{/each}}
      </span>
    </div>
  {{/if}}
</template>

<template name = "donorProfileRegisterInterest">
  <div class="profile-right-section">
    <div class="profile-right-header">
      <h2>Students Interested In</h2>
    </div>
    <span class="profile-interested-donors">
      {{#each interestedStudent}}
        {{#with studentInfo @index}}
          <a href="/profilepage/{{_id}}">
            {{name.first}} {{name.last}}
          </a>
          <br>
          {{#if isStatus "Accepted"}}
            This student has now been accepted, <a href="/profilepage/{{_id}}">donate now</a>!!!
          {{/if}}
        {{/with}}
      {{/each}}
    </span>
  </div>
</template>
